{% extends 'administration.html.twig' %}

{% block title %}
    Přehled zápasů
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="panel  panel-primary">
            <div class="panel-heading">
                Nadcházející zápasy
            </div>
            <!-- Table -->
            <table class="table table-responsive table-striped">
                <tr>
                    <th>Datum</th>
                    <th>Čas</th>
                    <th>Domácí</th>
                    <th>Hosté</th>
                    <th>Stav</th>
                </tr>
                <tr>
                    <td>22.3.2017</td>
                    <td>19:00</td>
                    <td>Dynamo R.U.M. B</td>
                    <td>Rumburaci</td>
                    <td>čeká na zadání soupisky</td>
                </tr>
                <tr>
                    <td>22.3.2017</td>
                    <td>19:00</td>
                    <td>Dynamo R.U.M. B</td>
                    <td>Rumburaci</td>
                    <td>čeká na zadání soupisky</td>
                </tr>
                <tr>
                    <td>22.3.2017</td>
                    <td>19:00</td>
                    <td>Dynamo R.U.M. B</td>
                    <td>Rumburaci</td>
                    <td>čeká na zadání soupisky</td>
                </tr>
                <tr>
                    <td>22.3.2017</td>
                    <td>19:00</td>
                    <td>Dynamo R.U.M. B</td>
                    <td>Rumburaci</td>
                    <td>čeká na zadání soupisky</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}