{% extends 'base.html.twig' %}

{% block body %}
<h1><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> SportStats</h1>
<h2>Informační systém malého fotbalu</h2>
<p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Přihlásit se</a>
    <a class="btn btn-success btn-lg" href="/register" role="button">Registrovat se</a>
</p>
{% endblock %}