{% extends 'administration.html.twig' %}

{% block title %}
    Administrace týmu xxx
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        Nadcházející zápasy
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th>Datum</th>
                            <th>Čas</th>
                            <th>Domácí</th>
                            <th>Hosté</th>
                            <th>Stav</th>
                        </tr>
                        <tr>
                            <td>22.3.2017</td>
                            <td>19:00</td>
                            <td>Dynamo R.U.M. B</td>
                            <td>Rumburaci</td>
                            <td>čeká na zadání soupisky</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        Nadcházející zápasy
                    </div>
                    <div class="panel-body">
                        Nejsou žádné nadcházející zápasy
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        Nadcházející zápasy
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th>Datum</th>
                            <th>Čas</th>
                            <th>Domácí</th>
                            <th>Hosté</th>
                            <th>Stav</th>
                        </tr>
                        <tr>
                            <td>22.3.2017</td>
                            <td>19:00</td>
                            <td>Dynamo R.U.M. B</td>
                            <td>Rumburaci</td>
                            <td>čeká na zadání soupisky</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}