{% extends 'base.html.twig' %}

{% block title %}
    Nový tým
{% endblock %}

{% block body %}
    <h1>Nový tým</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}