{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tým: {{ name }}</h1>
    {% if players is not empty %}
        <ul>
        {% for player in players %}
        <li>
            {{ player }}
        </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}